.indexHeader .headerLeft ul, .indexHeader .headerRight ul, footer #footSec .aboutBody .list ul, footer #footSec .importantBody .list ul, footer #footSec .openBody .list ul, footer #footSec .openBody .list ul li ul, footer #footSec .contactBody .list ul, footer .copyright .list ul, #teem .teemMembers .teemMember .image .imgHover ul, #allSec .sectionBg .secText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.indexHeader .headerLeft ul li, .indexHeader .headerRight ul li, footer #footSec .aboutBody .list ul li, footer #footSec .importantBody .list ul li, footer #footSec .openBody .list ul li, footer #footSec .contactBody .list ul li, footer .copyright .list ul li, #teem .teemMembers .teemMember .image .imgHover ul li, #allSec .sectionBg .secText ul li {
  color: white;
}

.indexHeader .headerLeft ul li i, .indexHeader .headerRight ul li i, footer #footSec .aboutBody .list ul li i, footer #footSec .importantBody .list ul li i, footer #footSec .openBody .list ul li i, footer #footSec .contactBody .list ul li i, footer .copyright .list ul li i, #teem .teemMembers .teemMember .image .imgHover ul li i, #allSec .sectionBg .secText ul li i {
  padding: 1px;
}

* {
  font-family: "Nunito", serif;
}

* p {
  font-family: "Lato", sans-serif;
}

.indexHeader .headerLeft li a, .indexHeader .headerRight li a, footer #footSec .aboutBody .list ul li a, footer #footSec .importantBody .list ul li a, footer #footSec .contactBody .list ul li a, footer .copyright p a, footer .copyright .list ul li a, #navSlide .navbar .navbar-nav li .hoverGreen, #navSlide .navbar .navbar-nav li ul li a, #featured .card h6:hover, #featured .card a, #offer .services .service .servicesText a, #teem .teemMembers .teemMember .image .imgHover ul li a, #teem .teemMembers .teemMember .text h6 a, #news .cards .card .card-body h6 a, #allSec .navbar .navbar-nav li .hoverGreen, #allSec .navbar .navbar-nav li ul li a {
  text-decoration: none;
  color: white;
}

.indexHeader .headerLeft li a:hover, .indexHeader .headerRight li a:hover, footer #footSec .aboutBody .list ul li a:hover, footer #footSec .importantBody .list ul li a:hover, footer #footSec .contactBody .list ul li a:hover, footer .copyright p a:hover, footer .copyright .list ul li a:hover, #navSlide .navbar .navbar-nav li .hoverGreen:hover, #navSlide .navbar .navbar-nav li ul li a:hover, #featured .card h6:hover, #featured .card a:hover, #offer .services .service .servicesText a:hover, #teem .teemMembers .teemMember .image .imgHover ul li a:hover, #teem .teemMembers .teemMember .text h6 a:hover, #news .cards .card .card-body h6 a:hover, #allSec .navbar .navbar-nav li .hoverGreen:hover, #allSec .navbar .navbar-nav li ul li a:hover {
  text-decoration: none;
  color: #7fc540;
}

footer #footSec .colTitle h6, #featured .card h6, #about .aboutDivs .second h6, #about .aboutDivs .third h6, #offer .services .service .servicesText a h6, #teem .teemMembers .teemMember .text h6, #clients .owl-carousel .slide .slideContent .text h6, #stats .stats h1, #stats .stats h6, #aboutContent .part h6, #chose .secContent2 .inputs .inputHead h6 {
  color: #444444;
  font-size: 22px;
  font-weight: 700;
}

#navSlide .carousel .carousel-item .text .carouselText .btn, #offer .services .service .btn, #news .cards .card .card-body .btn, #action .actionContent .btn, #chose .secContent2 .btn, .errorHtml #error .input-group .btn {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #f2963f;
  border: 1px solid #f2963f;
  border-radius: 10px;
}

#navSlide .carousel .carousel-item .text .carouselText .btn:hover, #offer .services .service .btn:hover, #news .cards .card .card-body .btn:hover, #action .actionContent .btn:hover, #chose .secContent2 .btn:hover, .errorHtml #error .input-group .btn:hover {
  border: 1px solid #7fc540;
  background-color: #7fc540;
  text-decoration: none;
}

#navSlide .carousel .carousel-item .text .carouselText .btn:focus, #offer .services .service .btn:focus, #news .cards .card .card-body .btn:focus, #action .actionContent .btn:focus, #chose .secContent2 .btn:focus, .errorHtml #error .input-group .btn:focus {
  background-color: #126195;
  border-color: #126195;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#navSlide .carousel .carousel-item .text .carouselText .btn:focus:hover, #offer .services .service .btn:focus:hover, #news .cards .card .card-body .btn:focus:hover, #action .actionContent .btn:focus:hover, #chose .secContent2 .btn:focus:hover, .errorHtml #error .input-group .btn:focus:hover {
  border: 1px solid #7fc540;
  background-color: #7fc540;
}

#about .aboutDivs .first .btn, #teem .teemMembers .teemMember .image .imgHover .btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #7fc540;
  border: 1px solid #7fc540;
  border-radius: 10px;
}

#about .aboutDivs .first .btn:hover, #teem .teemMembers .teemMember .image .imgHover .btn:hover {
  background-color: #f2963f;
  border: 1px solid #f2963f;
}

#about .aboutDivs .first .btn:focus, #teem .teemMembers .teemMember .image .imgHover .btn:focus {
  background-color: #126195;
  border-color: #126195;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#about .aboutDivs .first .btn:focus:hover, #teem .teemMembers .teemMember .image .imgHover .btn:focus:hover {
  background-color: #f2963f;
  border: 1px solid #f2963f;
}

#offer .title h6, #teem .title h6, #news .title h6, #action .actionContent .title h6, #chose .title h6, #gallery .title h6, #allSec .sectionBg .secText .title h6, #aboutContent .title h6, #chose .secContent1 .title h6, .errorHtml #error .title h6 {
  margin-top: 100px;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

#offer .title h6 span, #teem .title h6 span, #news .title h6 span, #action .actionContent .title h6 span, #chose .title h6 span, #gallery .title h6 span, #allSec .sectionBg .secText .title h6 span, #aboutContent .title h6 span, #chose .secContent1 .title h6 span, .errorHtml #error .title h6 span {
  color: #f2963f;
}

#offer .text, #teem .text, #news .text, #action .actionContent .text, #chose .text, #gallery .text, #aboutContent .text, #aboutContent .part p, #chose .secContent1 .text, .errorHtml #error .text {
  padding: 0% 20%;
  color: #777777;
}

#offer .icon, #teem .icon, #news .icon, #chose .icon, #gallery .icon, #chose .secContent1 .icon {
  position: relative;
  color: #f2963f;
}

#offer .icon::before, #teem .icon::before, #news .icon::before, #chose .icon::before, #gallery .icon::before, #chose .secContent1 .icon::before {
  content: '';
  position: absolute;
  left: 40%;
  top: 44%;
  width: 80px;
  height: 2px;
  background-color: #777777;
}

#offer .icon::after, #teem .icon::after, #news .icon::after, #chose .icon::after, #gallery .icon::after, #chose .secContent1 .icon::after {
  content: '';
  position: absolute;
  right: 40%;
  top: 44%;
  width: 80px;
  height: 2px;
  background-color: #777777;
}

.indexHeader {
  background-color: #f2963f;
}

.indexHeader .headerLeft li {
  font-size: 14px;
  padding: 2px 0px 1px 30px;
}

.indexHeader .headerRight li {
  padding: inherit;
}

.reset {
  opacity: 0;
  position: absolute;
  bottom: 30%;
  right: 3%;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 20px 4px white;
          box-shadow: 0 0 20px 4px white;
  border-radius: 5px;
  border-bottom: 0;
  z-index: 5;
  position: fixed;
  -webkit-transition: all .7s;
  transition: all .7s;
  background-color: white;
}

.reset .btn {
  background-color: white;
}

.reset .btn i {
  font-size: 27px;
  color: #7fc540;
}

.reset .btn:hover i {
  color: #f2963f;
}

.reset .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  background-position: center;
  background-size: cover;
  background-image: url(../index-img/background-effect-3.jpg);
}

footer #footSec {
  background-color: #444444cc;
}

footer #footSec .colTitle h6 {
  color: #7fc540;
}

footer #footSec .aboutBody p {
  color: white;
}

footer #footSec .aboutBody .logo {
  text-align: right;
}

footer #footSec .aboutBody .list ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

footer #footSec .aboutBody .list ul li a:hover {
  color: #f2963f;
}

footer #footSec .aboutBody .list ul li a i {
  padding: 1px;
}

footer #footSec .importantBody .list ul {
  display: table;
}

footer #footSec .importantBody .list ul li {
  padding: 5px 0px;
  position: relative;
}

footer #footSec .importantBody .list ul li::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #f2963f;
  position: absolute;
  top: 36%;
  left: -12%;
}

footer #footSec .importantBody .list ul li a:hover {
  color: #f2963f;
}

footer #footSec .openBody .list ul li ul {
  display: inline;
}

footer #footSec .openBody .list ul li ul li {
  padding: 6px 10px;
}

footer #footSec .contactBody .list ul {
  display: table;
}

footer #footSec .contactBody .list ul li a:hover {
  color: #f2963f;
}

footer .copyright {
  height: 100%;
  padding: 0px 50px;
  background-color: #444444;
}

footer .copyright p {
  color: white;
}

footer .copyright p a {
  color: #7fc540;
}

footer .copyright p a:hover {
  color: #f2963f;
}

footer .copyright .list ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright .list ul li a:hover {
  color: #7fc540;
}

#navSlide {
  position: relative;
  z-index: 1;
}

#navSlide .navbar {
  padding: 8px 48px;
  font-weight: 700 !important;
  position: absolute;
  top: 0;
}

#navSlide .navbar .navbar-nav li {
  position: relative;
  padding: 10px;
}

#navSlide .navbar .navbar-nav li .hoverGreen:hover {
  color: #7fc540 !important;
}

#navSlide .navbar .navbar-nav li .nav-link {
  color: white !important;
}

#navSlide .navbar .navbar-nav li ul {
  display: none;
  padding: 0;
  position: absolute;
  list-style: none;
}

#navSlide .navbar .navbar-nav li ul li {
  border-bottom: 1px solid #ccc;
  background-color: #444444;
  width: 150px;
  padding: 10px 0px 10px 20px;
}

#navSlide .navbar .navbar-nav li ul li a:hover {
  color: #7fc540;
}

#navSlide .carousel {
  height: 879px;
}

#navSlide .carousel .carousel-item .text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#navSlide .carousel .carousel-item .text .carouselText {
  position: absolute;
  top: 33%;
  text-align: center;
  color: white;
}

#navSlide .carousel .carousel-item .text .carouselText h2 {
  font-weight: 700;
  font-size: 7em;
}

#navSlide .carousel .carousel-item .text .carouselText p {
  font-size: 20px;
  padding: 0px 300px;
}

#navSlide .carousel .carousel-item .text .carouselText .btn {
  padding: 10px 30px;
}

.fancybox-active .fancybox-toolbar {
  top: 87%;
  right: 24%;
}

.fancybox-active .fancybox-navigation .fancybox-button--arrow_left {
  left: 20%;
}

.fancybox-active .fancybox-navigation .fancybox-button--arrow_right {
  right: 20%;
}

#featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: -10%;
  z-index: 2;
}

#featured .card {
  text-align: center;
  background-color: white;
  border-bottom: 5px solid #7fc540;
  border-top: 5px solid #7fc540;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#featured .card img {
  padding: 50px 0px;
  width: 60px;
}

#featured .card h6:hover {
  color: #f2963f;
}

#featured .card p {
  color: #777777;
}

#featured .card a {
  color: #7fc540;
}

#featured .card a:hover {
  color: #f2963f;
}

#featured #card2 {
  border-bottom: 5px solid #f2963f;
  border-top: 5px solid #f2963f;
}

#about {
  position: relative;
  background: #f8f8f8;
  margin-top: -33%;
  padding-top: 33%;
  padding-bottom: 100px;
}

#about .aboutDivs .first h2 {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  color: #444444;
}

#about .aboutDivs .first .btn {
  font-size: 16px;
  padding: 10px 50px;
  line-height: 30px;
}

#about .aboutDivs .first .btn:focus {
  background-color: #444444;
  border-color: #444444;
}

#about .aboutDivs .second {
  text-align: center;
}

#about .aboutDivs .second h6 {
  margin-bottom: 20px;
}

#about .aboutDivs .third h6 {
  margin-bottom: 50px;
  font-size: 24px;
}

#about .aboutDivs .third h6 span {
  right: 53px;
  position: absolute;
  top: 30px;
  font-size: 14px;
  color: #f2963f;
  font-weight: 400;
}

#offer {
  text-align: center;
  background-color: #444444;
}

#offer .text {
  color: white;
}

#offer .services .service {
  padding: 0px;
}

#offer .services .service img {
  width: 90%;
}

#offer .services .service .servicesText {
  padding: 0px 30px;
}

#offer .services .service .servicesText a h6 {
  color: white;
}

#offer .services .service .servicesText a h6:hover {
  color: #7fc540;
}

#offer .services .service .servicesText p {
  color: white;
}

#offer .services .service .btn {
  padding: 10px;
}

#teem {
  text-align: center;
}

#teem .title h6 {
  color: #444444;
}

#teem .icon::after {
  background-color: #444444;
}

#teem .icon::before {
  background-color: #444444;
}

#teem .teemMembers .teemMember .image {
  position: relative;
}

#teem .teemMembers .teemMember .image img {
  width: 100%;
  height: 100%;
  background-color: #777777;
  border-radius: 100%;
}

#teem .teemMembers .teemMember .image .imgHover {
  -webkit-transition: all .7s;
  transition: all .7s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #777777cc;
}

#teem .teemMembers .teemMember .image .imgHover ul {
  position: absolute;
  top: 40%;
  left: 33%;
  padding-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#teem .teemMembers .teemMember .image .imgHover ul li {
  font-size: 14px;
  padding: 2px 15px;
  color: #7fc540;
}

#teem .teemMembers .teemMember .image .imgHover ul li a {
  color: #7fc540;
}

#teem .teemMembers .teemMember .image .imgHover ul li a:hover {
  color: #f2963f;
}

#teem .teemMembers .teemMember .image .imgHover .btn {
  position: absolute;
  top: 50%;
  left: 33%;
}

#teem .teemMembers .teemMember .image .imgHover .btn:focus {
  background-color: #444444;
  border-color: #444444;
}

#teem .teemMembers .teemMember .image:hover .imgHover {
  opacity: 1;
}

#teem .teemMembers .teemMember .text h6 {
  font-size: 18px;
}

#teem .teemMembers .teemMember .text h6 a {
  color: #444444;
}

#teem .teemMembers .teemMember .text h6 a:hover {
  color: #f2963f;
}

#teem .teemMembers .teemMember .text span {
  color: #f2963f;
}

#news {
  background-color: #f8f8f8;
}

#news .title h6 {
  color: #444444;
}

#news .icon::after {
  background-color: #444444;
}

#news .icon::before {
  background-color: #444444;
}

#news .cards .card .card-body {
  background-image: url(../index-img/blog-bg-effect-1.jpg);
  position: relative;
  height: 17em;
}

#news .cards .card .card-body .cardafter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ccccccd1;
}

#news .cards .card .card-body h6 {
  font-weight: 400;
  font-size: 28px;
}

#news .cards .card .card-body h6 a {
  color: #444444;
}

#news .cards .card .card-body span {
  color: #f2963f;
  font-size: 16px;
}

#news .cards .card .card-body p {
  color: #777777;
}

#action {
  background-image: url(../index-img/background-effect-2.jpg);
  background-position: center;
  background-size: cover;
}

#action .actionContent {
  height: 100%;
  background-color: #444444cc;
}

#action .actionContent .text {
  color: white;
}

#action .actionContent .btn {
  padding: 10px;
}

#chose .title h6 {
  color: #444444;
}

#chose .left .video {
  position: relative;
}

#chose .left .video img {
  width: 100%;
}

#chose .left .video .videoText {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #444444cc;
}

#chose .left .video .videoText p {
  color: white;
}

#chose .left .video .videoText h6 {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

#chose .left .video .videoText h6 span {
  color: #7fc540;
}

#chose .right .accordion_container {
  width: 400px;
}

#chose .right .accordion_container .acc .hide {
  display: block;
}

#chose .right .accordion_container .acc .accordion_head {
  background-color: #444444;
  color: white;
  cursor: pointer;
  font-family: arial;
  font-size: 14px;
  padding: 10px 11px;
  font-weight: bold;
}

#chose .right .accordion_container .acc .accordion_head p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
}

#chose .right .accordion_container .acc .accordion_head:hover {
  color: #f2963f;
  background-color: white;
}

#chose .right .accordion_container .acc .accordion_body {
  display: none;
  background: white;
}

#chose .right .accordion_container .acc .accordion_body p .plusminus {
  float: right;
}

#clients {
  background-image: url(../index-img/background-effect-1.jpg);
  background-position: center;
  background-size: cover;
}

#clients .owl-carousel {
  position: relative;
  height: 100%;
}

#clients .owl-carousel .owl-item img {
  border: 1px solid white;
  background-color: white;
  border-radius: 100%;
  width: 6em;
}

#clients .owl-carousel .slide {
  background-color: #444444cc;
  height: 100%;
}

#clients .owl-carousel .slide .slideContent .image {
  margin-left: 47%;
}

#clients .owl-carousel .slide .slideContent .icon {
  font-size: 60px;
  color: #f2963f;
}

#clients .owl-carousel .slide .slideContent .text h6 {
  color: white;
}

#clients .owl-carousel .slide .slideContent .text p {
  padding: 1% 25%;
  color: white;
}

#clients .owl-carousel .slide .slideContent .text span {
  color: #7fc540;
  padding: 0% .5%;
}

#gallery .title h6 {
  color: #444444;
}

#gallery .icon::after {
  background-color: #444444;
}

#gallery .icon::before {
  background-color: #444444;
}

#gallery .galleryImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery .galleryImgs .galImg img {
  width: 100%;
}

#stats {
  background-color: #f2963f;
}

#stats .stats h1 {
  color: white;
  font-size: 3em;
}

#stats .stats h6 {
  color: white;
}

#allSec {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#allSec .navbar {
  padding: 8px 48px;
  font-weight: 700 !important;
  position: absolute;
  top: 0;
  z-index: 2;
}

#allSec .navbar .navbar-nav li {
  position: relative;
  padding: 10px;
}

#allSec .navbar .navbar-nav li .hoverGreen:hover {
  color: #7fc540 !important;
}

#allSec .navbar .navbar-nav li .nav-link {
  color: white !important;
}

#allSec .navbar .navbar-nav li ul {
  display: none;
  padding: 0;
  position: absolute;
  list-style: none;
}

#allSec .navbar .navbar-nav li ul li {
  border-bottom: 1px solid #ccc;
  background-color: #444444;
  width: 150px;
  padding: 10px 0px 10px 20px;
}

#allSec .navbar .navbar-nav li ul li a:hover {
  color: #7fc540;
}

#allSec .sectionBg {
  height: 400px;
  background-color: #444444cc;
}

#allSec .sectionBg .secText {
  position: absolute;
  left: 40%;
  top: 15%;
}

#allSec .sectionBg .secText .title h6 {
  font-size: 3em;
}

#allSec .sectionBg .secText ul {
  font-size: 12px;
  padding-left: 17px;
}

#allSec .sectionBg .secText ul li a {
  text-decoration: none;
  color: white;
}

#aboutContent {
  background-color: #f8f8f8;
}

#aboutContent .title h6 {
  color: #444444;
  font-size: 24PX;
}

#aboutContent .text {
  padding: 0;
}

#aboutContent .part .partImg img {
  width: 100%;
}

#aboutContent .part p {
  padding: 0;
}

#aboutContent .welcomeImg img {
  width: 100%;
}

#chose .secContent1 .title h6 {
  color: #444444;
}

#chose .secContent2 .inputs {
  background-color: #444444;
}

#chose .secContent2 .inputs .inputHead h6 {
  color: white;
}

#chose .secContent2 .inputs .inputHead h6 span {
  color: #f2963f;
}

#chose .secContent2 form .form-group .form-control {
  border-radius: 0;
  padding: 20px;
}

#chose .secContent2 form .form-group .form-control:focus {
  border: white;
  -webkit-box-shadow: 0px 0px 5px 1px white;
          box-shadow: 0px 0px 5px 1px white;
}

#chose .secContent2 form .form-group .custom-select {
  border-radius: 0;
  height: calc(2.25rem + 6px);
}

#chose .secContent2 form .form-group .custom-select:focus {
  border: white;
  -webkit-box-shadow: 0px 0px 5px 1px white;
          box-shadow: 0px 0px 5px 1px white;
}

#chose .secContent2 .btn {
  border-radius: 0;
  padding: 10px 20px;
}

.servicesHtml #offer {
  background-color: white;
}

.servicesHtml #offer h6 {
  color: #444444;
}

.servicesHtml #offer p {
  color: #777777;
}

.servicesHtml #offer .services .service .servicesText h6 {
  color: #444444;
}

.servicesHtml #offer .services .service .servicesText p {
  color: #777777;
}

.errorHtml #allSec .secText {
  left: 35%;
}

.errorHtml #allSec .secText ul {
  margin-left: 80px;
}

.errorHtml #error .title h6 {
  font-size: 3em;
}

.errorHtml #error .icon a {
  text-decoration: none;
  font-size: 3em;
  color: #f2963f;
}

.errorHtml #error .input-group {
  width: 50%;
}

.errorHtml #error .input-group .form-control {
  border-radius: 0;
}

.errorHtml #error .input-group .form-control:focus {
  border-color: #777777;
  -webkit-box-shadow: 0px 0px 5px -1px #777777;
          box-shadow: 0px 0px 5px -1px #777777;
}

.errorHtml #error .input-group .btn {
  border-radius: 0;
}

@media (max-width: 1200px) {
  #offer .icon::before, #teem .icon::before, #news .icon::before, #chose .icon::before, #gallery .icon::before, #chose .secContent1 .icon::before {
    width: 70px;
  }
  #offer .icon::after, #teem .icon::after, #news .icon::after, #chose .icon::after, #gallery .icon::after, #chose .secContent1 .icon::after {
    width: 70px;
  }
  .indexHeader .headerLeft ul {
    padding-left: 0;
  }
  .indexHeader .headerLeft ul li {
    padding: 2px 3px;
  }
  .indexHeader .headerRight ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #navSlide .navbar {
    padding: 5px 10px;
  }
  #navSlide .carousel .carousel-item .text .carouselText p {
    padding: 0;
  }
  #featured {
    margin-top: -35%;
  }
  #about .aboutDivs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #about .aboutDivs .first h2 {
    font-size: 1.5em;
  }
  #about .aboutDivs .first .btn {
    padding: 10px 30px;
  }
  #about .aboutDivs .third h6 {
    font-size: 20px;
  }
  #about .aboutDivs .third h6 span {
    right: 20px;
  }
  #news .cards .card .card-body {
    height: 19em;
  }
  footer .copyright {
    padding: 0;
  }
}

@media (max-width: 992px) {
  #offer .text, #teem .text, #news .text, #action .actionContent .text, #chose .text, #gallery .text, #aboutContent .text, #aboutContent .part p, #chose .secContent1 .text, .errorHtml #error .text {
    padding: 0;
  }
  #offer .icon::before, #teem .icon::before, #news .icon::before, #chose .icon::before, #gallery .icon::before, #chose .secContent1 .icon::before {
    width: 70px;
    left: 35%;
  }
  #offer .icon::after, #teem .icon::after, #news .icon::after, #chose .icon::after, #gallery .icon::after, #chose .secContent1 .icon::after {
    width: 70px;
    right: 35%;
  }
  .indexHeader .headerLeft ul {
    width: 100%;
    display: table;
  }
  .indexHeader .headerRight ul {
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .indexHeader .headerRight ul li {
    padding-right: 20px;
  }
  #navSlide .carousel {
    height: 659px;
  }
  #navSlide .carousel .carousel-item .text .carouselText h2 {
    font-size: 4rem;
  }
  #navSlide .carousel .carousel-item .text .carouselText p {
    padding: 0px 100px !important;
  }
  #navSlide .navbar {
    margin-top: 0;
    padding: 10px;
    background-color: #444444;
  }
  #featured {
    position: relative;
    margin-top: 0;
    background-color: #f8f8f8;
  }
  #featured .card {
    padding: 20px;
  }
  #about .aboutDivs .third h6 span {
    right: 42%;
  }
}

@media (max-width: 767.98px) {
  #offer .text, #teem .text, #news .text, #action .actionContent .text, #chose .text, #gallery .text, #aboutContent .text, #aboutContent .part p, #chose .secContent1 .text, .errorHtml #error .text {
    padding: 0;
  }
  #offer .icon::before, #teem .icon::before, #news .icon::before, #chose .icon::before, #gallery .icon::before, #chose .secContent1 .icon::before {
    width: 70px;
    left: 30%;
  }
  #offer .icon::after, #teem .icon::after, #news .icon::after, #chose .icon::after, #gallery .icon::after, #chose .secContent1 .icon::after {
    width: 70px;
    right: 30%;
  }
  #navSlide .carousel {
    height: 510px;
  }
  #navSlide .carousel .carousel-item .text .carouselText h2 {
    font-size: 3rem;
  }
  #navSlide .carousel .carousel-item .text .carouselText p {
    padding: 0px 100px;
  }
  #navSlide .navbar {
    margin-top: 0;
    padding: 10px;
    background-color: #444444;
  }
  #offer .services .service img {
    width: 70%;
  }
  #teem .teemMembers .teemMember .image img {
    width: 70%;
  }
  footer #footSec .aboutBody .list ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer #footSec .aboutBody .list ul li {
    padding: 0 10px;
  }
  footer #footSec .importantBody .list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer #footSec .importantBody .list ul li {
    padding: 0 10px;
  }
  footer .copyright p {
    text-align: center;
  }
  footer .copyright ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */