#chose{
    .title{
        @extend %sectionTitle;
        h6{
            color: $section_color;
        }
    }
    .text{
        @extend %sectionText;
    }
    .icon{
        @extend %sectionIcon;

    }
    .left{
        .video{
            position: relative;
            img{
                width: 100%;
            }
        .videoText{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $section_color+cc;
            p{
                color: white;
            }
            h6{
                color: white;
                font-size: 16px;
                font-weight: 700;
                span{
                    color: $help_color;
                }
            }
        }
    }
    }
    .right{
        .accordion_container {
            width: 400px;
            .acc{
                .hide {
                    display: block;
                }
                .accordion_head{
                    background-color: $section_color;
                    color: white;
                    cursor: pointer;
                    font-family: arial;
                    font-size: 14px;
                    padding: 10px 11px;
                    font-weight: bold;
                    p{
                        margin-bottom: 0;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    &:hover{
                        color: $main_color;
                        background-color: white;
                    }
                }
                .accordion_body {
                    display: none;
                    background: white;
                    p{
                        .plusminus {
                            float: right;
                          }
                    }
                }
            }
        }
    }

}