#featured{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -10%;
    z-index: 2;
    .card{
        text-align: center;
        background-color: white;
        border-bottom: 5px solid $help_color;
        border-top: 5px solid $help_color;
        border-radius: 10px;
        padding: 30px;
        align-items: center;
        img{  
            padding: 50px 0px;
            width: 60px;         
        }
        h6{
           @extend %h6;
           &:hover{
            @extend %a;
            color: $main_color;
        }
        }
        p{     
            color: $p_color;       
        }
        a{ 
            @extend %a;   
            color: $help_color;
            &:hover{
                color: $main_color;
            }
        }
        
    }
    #card2{
        border-bottom: 5px solid $main_color;
        border-top: 5px solid $main_color;
    }
}