#navSlide{
    position: relative;
    z-index: 1;
.navbar{
    padding: 8px 48px;
    font-weight: 700 !important;
    position: absolute;
    top: 0;
    .navbar-nav{
        li{
        position: relative;
        padding: 10px;
            .hoverGreen{
                @extend %a;      
            &:hover{
                color: $help_color !important;
                }
            }
            .nav-link{
                
                color: white !important;
            }
         ul{
            display: none;
            padding: 0;
            position: absolute;
            list-style: none;
            li{
                border-bottom: 1px solid #ccc;
                background-color: $section_color;
                width: 150px;
                padding: 10px 0px 10px 20px;
                a{
                   @extend %a;
                    &:hover{
                        color: $help_color;
                    }
                }
            }
        }
        }
    }
}

}
.fancybox-active{
    .fancybox-toolbar{
        top: 87%;
        right: 24%;

    }
    .fancybox-navigation{
        .fancybox-button--arrow_left{
        left: 20%;
        }
    .fancybox-button--arrow_right{
        right: 20%;
        }
    }
}
